{% extends 'school/base.html' %} 

{% load static %}

{% block content %}
<div class="kardex-container">
	<h1 class="ui header center aligned">
		Kardex
	</h1>

	<div class="ui container center aligned" id="kardex-manager">
		<div class="ui segment center aligned">
			<button class="ui icon mini prev button">
				<i class="angle left icon"></i>
			</button>
			<div class="ui text shape">
				<div class="sides">
	
				</div>
			</div>
			<button class="ui icon mini next button">
				<i class="angle right icon"></i>
			</button>
		</div>
		<div class="ui subject basic segment no padding">

		</div>
	</div>
</div>

<script src="{% static 'js/kardexManager.js' %}"></script>
<script src="{% static 'js/kardex.js' %}"></script>

{% endblock %}
