{% extends 'school/base.html' %} 

{% load static %}

{% block content %}
<div class="kardex-container">
	<h1 class="ui header center aligned">
		Kardex
	</h1>

	<div class="ui container" id="kardex-manager">
		<div class="ui segment center aligned">
			<div class="ui action input" id="semester-selection">
				<button class="ui icon prev basic button">
					<i class="angle left icon"></i>
				</button>
				<div class="ui selection semester compact dropdown">
					<input type="hidden" name="Semestre">
					<i class="dropdown icon"></i>
					<div class="default text">Semestre</div>
					<div class="menu">
						
					</div>
				</div>
				<button class="ui icon next basic button">
					<i class="angle right icon"></i>
				</button>
				<div class="ui icon filter dropdown basic button">
					<i class="filter icon"></i>
					<div class="menu">
						<div class="item" data-value="aprobada">
							<div class="ui green empty circular label"></div>
							Aprobadas
						</div>
						<div class="item" data-value="reprobada">
							<div class="ui yellow empty circular label"></div>
							Reprobada
						</div>
						<div class="item" data-value="pendiente">
							<div class="ui gray empty circular label"></div>
							Pendiente
						</div>
						<div class="item" data-value="sincursar">
							<div class="ui olive empty circular label"></div>
							Sin Cursar
						</div>
						<div class="item" data-value="normal">
							<div class="ui white empty circular label"></div>
							Normal
						</div>
						<div class="item" data-value="especial">
							<div class="ui orange empty circular label"></div>
							Especial
						</div>
						<div class="item" data-value="">
							<div class="ui violet empty circular label"></div>
							Sin filtro
						</div>
					</div>
				</div>
			</div>


		</div>
		<div class="ui subject basic segment no padding">

		</div>
	</div>
</div>

<div class="ui subject modal">
	<i class="close icon"></i>
	<div class="header">
		Taller de Sistemas Operativos
		<div class="sub header">
			SCA-1026
		</div>
	</div>
	<div class="content">
		<div class="ui red inverted segment">
			<div class="ui aligned grid">
				<div class="left floated left aligned eight wide column">
					<strong>Creditos</strong>
				</div>
				<div class="right floated left aligned eight wide column">
					5
				</div>
			</div>
		</div>

	</div>
</div>

<script src="{% static 'js/kardexManager.js' %}"></script>
<script src="{% static 'js/kardex.js' %}"></script>

{% endblock %}
