{% extends 'school/base.html' %} 

{% load static %}

{% block content %}
<div class="kardex-container">
	<h1 class="ui header center aligned">
		Kardex
	</h1>

	<div class="ui container center aligned" id="kardex-manager">
		<div class="ui segment center aligned">
			<div class="ui action input">
				<button class="ui icon prev button">
					<i class="angle left icon"></i>
				</button>
				<div class="ui selection dropdown">
					<input type="hidden" name="Semestre">
					<i class="dropdown icon"></i>
					<div class="default text">Semestre</div>
					<div class="menu">
						
					</div>
				</div>
				<button class="ui icon next button">
					<i class="angle right icon"></i>
				</button>
			</div>

		</div>
		<div class="ui subject basic segment no padding">

		</div>
	</div>
</div>

<script src="{% static 'js/kardexManager.js' %}"></script>
<script src="{% static 'js/kardex.js' %}"></script>

{% endblock %}
