{% load static %}


<div class="ui right vertical sidebar menu" id="sidebar">
	<a href="{% url 'school:panel' %}" class="item active"><i class="user circle outline icon"></i> Mi Panel</a>
	<a href="{% url 'school:panel' %}" class="item"><i class="lock icon"></i> Cambiar Clave</a>
	<a href="{% url 'school:panel' %}" class="item"><i class="envelope outline icon"></i> Cambiar Email</a>
	<a href="{% url 'school:reinscription' %}" class="item"><i class="edit outline icon"></i> Reinscripción</a>
	<a href="{% url 'school:cycle-advance' %}" class="item"><i class="arrow alternate circle right outline icon"></i> Avance Ciclo</a>
	<a href="{% url 'school:kardex' %}" class="item"><i class="clipboard outline icon"></i> Kárdex</a>
	<a href="{% url 'school:log' %}" class="item"><i class="file alternate outline icon"></i> Log</a>
	<a class="item"><i class="sign out alternate icon"></i> Salir</a>
</div>
<script src="{% static 'js/navbar.js' %}"></script>


<!-- MOBILE MENU -->
<!-- <div class="mobile-menu">
	<i class="times icon large" style="color: #1e397c; cursor: pointer" id="close-menu"></i>
	<a href="#" class="item active"><i class="user circle outline icon"></i> Mi Panel</a>
	<a href="#" class="item"><i class="lock icon"></i> Cambiar Clave</a>
	<a href="#" class="item"><i class="envelope outline icon"></i> Cambiar Email</a>
	<a href="#" class="item"><i class="edit outline icon"></i> Reinscripción</a>
	<a href="#" class="item"><i class="arrow alternate circle right outline icon"></i> Avance Ciclo</a>
	<a href="#" class="item"><i class="clipboard outline icon"></i> Kárdex</a>
	<a href="#" class="item"><i class="file alternate outline icon"></i> Log</a>
	<a href="#" class="item"><i class="sign out alternate icon"></i> Salir</a>
</div> -->
